<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Live</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/web/static/css/style.css">
</head>
<body>
    <h1>Server Live</h1>
    <div id="config">
        <p>Port: {{.Port}}</p>
        <p>DB URL: {{.DBURL}}</p>
        <p>Mongo URL: {{.MongoURL}}</p>
        {{ if .Username }}
        <p>Welcome, {{ .Username }}</p>
        {{ else }}
        <p>Welcome, guest</p>
        {{ end }}
    </div>
    <div id="jwtSessionInfo">
        <h2>JWT & Session Information</h2>
        <p>JWT Claims: {{.JWTClaims}}</p>
        <p>Session Data: {{.SessionData}}</p>
    </div>
    <div id="status">JS Live</div>
    <div class="container">
        <div class="jumbotron text-center text-success">
            <h1><span class="fa fa-lock"></span> Social Authentication</h1>
            <p>Login or Register with:</p>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
        </div>
    </div>
    <script src="/web/static/js/script.js"></script>
</body>
</html>
